<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.tmall.wireless.viewtracker">

    <application>
        <receiver
            android:name=".internal.config.ConfigReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tmall.wireless.viewtracker.config.changed" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
